@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/index.css" rel="stylesheet" type="text/css">

<body>

    <div class="container-fluid">
        <hr class="mx-auto mb-5 w-25">
        <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <a asp-controller="Employee" asp-action="GetAllEmployees" class='btn'>
                <div class="card shadow">
                    <img src="~/homePage/employees.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Employee Information</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Personal employee information and contact details.
                        </p>
                    </div>
                </div>
                </a>
                
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <a asp-controller="Department" asp-action="GetAllDepartments" class='btn'>
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="~/homePage/absences.jpeg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Departments</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            View and manage information about your team members.
                        </p>
                    </div>
                </div>
                </a>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="~/homePage/workingTime.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Working Time</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Record employee absences / add new absence.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="~/homePage/projects.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Projects</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Project information and all details.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>
